.heading{
    text-align: center;
    padding: 20px 0 20px 0;
}

h1{
    padding: 10px 10px;
}
.card-center {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}