{% include 'partials/header.html' %}
<h1>Edit Item {{item.title}}</h1>

<form action="{{url_for('editItem', catName = item.category.name, itemName = item.title)}}" method="POST">
    <label for="title">Title</label>
    <input type="text" value="{{item.title}}" name="title" autocomplete="off">
    <br>
    <label for="description">Description</label>
    <input type="text" name="description" value="{{item.description}}" autocomplete="off">
    <br>
    <label for="category">Category</label>
    <select placeholder="{{item.category.name}}" name="category">
        {%for cat in categories%}
        <option value="{{cat.name}}" name="{{cat.name}}">{{cat.name}}</option>
        {%endfor%}
    </select>
    <br>
    <input type="submit" value="Edit">
    

</form>
{%include 'partials/footer.html'%}