{% include 'partials/header.html' %}
<h1>Register</h1>

<form method="POST" action="{{url_for('register')}}">
    <label>Username</label>
    <input type="text" name="username">
    <br>
    <label>Email</label>
    <input type="text" name="email">
    <br>
    <label>Password</label>
    <input type="password" name="password">
    <br>
    <label>Verify Password</label>
    <input type="password" name="verifyPassword">
    <br>
    <input type="submit" value="Register">

</form>
{%include 'partials/footer.html'%}